.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    height: 40px;
    box-shadow: 0 3px 6px 0 rgba(50,50,50,.3);
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    justify-content: space-between;
  }
  
  .sticky-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .sticky-nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .sticky-nav ul li:last-child {
    margin-right: 0;
  }
  .sticky-nav ul li a{
    color: black;
    text-decoration: none;
  }